%h2 会員情報入力
= form_with model: @user, url: user_registration_path, local: true do |f|
  = devise_error_messages!
  = render "devise/shared/error_messages", resource: @user
  .field
    ニックネーム
    %span 必須 
    %br
    = f.text_field  :name, autofocus: true, maxlength: "6", placeholder: "例)フリマ太郎"
  .field
    メールアドレス
    %span 必須
    %br
    = f.email_field :email, class: 'single-form', placeholder: "PC・携帯どちらでも可"
  .field
    パスワード
    - if @minimum_password_length
    %br/
    = f.password_field :password, autocomplete: "off", placeholder: "６文字以上"
  .field
    パスワード（確認)
    %span 必須
    %br
    = f.password_field :authentication_number, autocomplete: "off", placeholder: "６文字以上"

    = f.submit "Log in"
= render "devise/shared/links"
