.container
  .container__top
    .container__top__title
      人気のカテゴリー
    .container__top--flex
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          レディース
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          メンズ
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          家電・スマホ・カメラ
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          おもちゃ・ホビー・グッズ

.main
  .main__center
    .main__center__top
      .main__center__top__title
        レディース新着アイテム
      = link_to root_path, class: 'main__center__top__link' do
        もっとみる
        = icon('fas', 'chevron-right', class: 'main__center__top__link__icon')
    .main__center__products
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__price
          ¥1,200
        .main__center__products__product__name
          メルカリロゴ１（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__price
          ¥2,000
        .main__center__products__product__name
          メルカリロゴ２（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__price
          ¥1,200
        .main__center__products__product__name
          メルカリロゴ３（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ４（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ５（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ6（ホワイト）

    .main__center__top
      .main__center__top__title
        メンズ新着アイテム
      = link_to root_path, class: 'main__center__top__link' do
        もっとみる
        = icon('fas', 'chevron-right', class: 'main__center__top__link__icon')
    .main__center__products
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__price
          ¥1,200
        .main__center__products__product__name
          メルカリロゴ１（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ２（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ３（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ４（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ５（ホワイト）
      = link_to root_path, class: 'main__center__products__product' do
        = image_tag 'logo_white.svg', class: 'main__center__products__product__image'
        .main__center__products__product__name
          メルカリロゴ6（ホワイト）
