%header.header
  .header__center
    .header__center__top
      .header__center__top__left
        = link_to root_path do
          = image_tag  'fmarket_logo_red.svg', class: 'header__center__top__left__image'
      .header__center__top__right
        = form_with(url: root_path, class: 'header__center__top__right__form') do |f|
          = f.text_field :keyword, placeholder: "何かお探しですか？", class: 'header__center__top__right__form__input'
          = f.label class: 'header__center__top__right__form__label' do
            = f.submit "検索", class: 'header__center__top__right__form__label__btn'
            = icon('fas', 'search', class: 'header__center__top__right__form__label__icon')
    .header__center__bottom
      .header__center__bottom__left
        = link_to root_path, class: 'header__center__bottom__left__link' do
          .header__center__bottom__left__link__text
            カテゴリーから探す
          = icon('fas', 'list-ul', class: 'header__center__bottom__left__link__icon')
        = link_to root_path, class: 'header__center__bottom__left__link' do
          .header__center__bottom__left__link__text
            ブランドから探す
          = icon('fas', 'tag', class: 'header__center__bottom__left__link__icon')
      .header__center__bottom__right
        = link_to root_path, class: 'header__center__bottom__right__link' do
          .header__center__bottom__right__link__text
            いいね！一覧
          = icon('far', 'heart fa-lg', class: 'header__center__bottom__right__link__icon')
        = link_to root_path, class: 'header__center__bottom__right__link' do
          .header__center__bottom__right__link__text
            お知らせ
          = icon('far', 'bell fa-lg', class: 'header__center__bottom__right__link__icon')
        = link_to root_path, class: 'header__center__bottom__right__link' do
          .header__center__bottom__right__link__text
            やることリスト
          = icon('fa', 'check fa-lg', class: 'header__center__bottom__right__link__icon')
        = link_to root_path, class: 'header__center__bottom__right__mypage-link' do
          .header__center__bottom__right__mypage-link__text
            マイページ
          = image_tag 'logo_red.svg', class: 'header__center__bottom__right__mypage-link__image'
