%footer.footer
  .footer__contents
    .footer__contents__content
      .footer__contents__content__title
        メルカリについて
      = link_to root_path, class: 'footer__contents__content__link' do
        会社概要（運営会社）
      = link_to root_path, class: 'footer__contents__content__link' do
        採用情報
      = link_to root_path, class: 'footer__contents__content__link' do
        プレスリリース
      = link_to root_path, class: 'footer__contents__content__link' do
        公式ブログ
      = link_to root_path, class: 'footer__contents__content__link' do
        メルカリロゴ利用ガイドライン
      .footer__contents__content__icons
        = link_to 'https://twitter.com/mercari_jp', class: 'footer__contents__content__icons__link' do
          = icon('fab fa-2x', 'twitter', class: 'footer__contents__content__icons__link__icon')
        = link_to 'https://www.facebook.com/mercarijp', class: 'footer__contents__content__icons__link' do
          = icon('fab fa-2x', 'facebook-square', class: 'footer__contents__content__icons__link__icon')
    .footer__contents__content
      .footer__contents__content__title
        ヘルプ＆ガイド     
      = link_to root_path, class: 'footer__contents__content__link' do
        メルカリガイド
      = link_to root_path, class: 'footer__contents__content__link' do
        らくらくメルカリ便
      = link_to root_path, class: 'footer__contents__content__link' do
        大型メルカリ便
      = link_to root_path, class: 'footer__contents__content__link' do
        車体取引ガイド
      = link_to root_path, class: 'footer__contents__content__link' do
        メルカリあんしん・あんぜん宣言！
      = link_to root_path, class: 'footer__contents__content__link' do
        偽ブランド品撲滅への取り組み
      = link_to root_path, class: 'footer__contents__content__link' do
        メルカリボックス
    .footer__contents__content
      .footer__contents__content__title
        プライバシーと利用規約
      .footer__contents__content--flex
        .footer__contents__content--flex__column1
          = link_to root_path, class: 'footer__contents__content--flex__column1__link' do
            プライバシーポリシー
          = link_to root_path, class: 'footer__contents__content--flex__column1__link' do
            メルカリ利用規約
          = link_to root_path, class: 'footer__contents__content--flex__column1__link' do
            あんしんスマホサポート制度に関する利用規約
          = link_to root_path, class: 'footer__contents__content--flex__column1__link' do
            コンプライアンスポリシー
        .footer__contents__content--flex__column2
          = link_to root_path, class: 'footer__contents__content--flex__column2__link' do
            個人データの安全管理に係る基本方針
          = link_to root_path, class: 'footer__contents__content--flex__column2__link' do
            特定商取引に関する表記
          = link_to root_path, class: 'footer__contents__content--flex__column2__link' do
            資金決済法に基づく表示
          = link_to root_path, class: 'footer__contents__content--flex__column2__link' do
            法令遵守と犯罪抑止のために
    .footer__contents__content
      .footer__contents__content__title
        国
      = link_to root_path, class: 'footer__contents__content__link' do
        日本
      = link_to root_path, class: 'footer__contents__content__link' do
        United States
  .footer__bottom
    = image_tag  'fmarket_footer_logo_white.svg', class: 'footer__bottom__image'
    .footer__bottom__text
      ©️ 65 team E
