.container
  .container__top
    .container__top__title
      人気のカテゴリー
    .container__top--flex
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          レディース
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          メンズ
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          家電・スマホ・カメラ
      = link_to root_path, class: 'container__top--flex__link' do
        .container__top--flex__link__content
          おもちゃ・ホビー・グッズ

.main
  .main__center
    .main__center__top
      .main__center__top__title
        商品一覧
      = link_to root_path, class: 'main__center__top__link' do
        もっとみる
        = icon('fas', 'chevron-right', class: 'main__center__top__link__icon')
    .main__center__products
      - @products.each do |product|
        = link_to root_path, class: 'main__center__products__product' do
          .main__center__products__product__price
            = "¥#{product.price}"
          .main__center__products__product__name
            = product.name
