.signin__container
  .signup__simple__header
    .signup__simple__header__logo
      = link_to root_path do
        =image_tag  'fmarket_logo_red.svg', height: '49', width: '189'

  .signin-main
    .signin-main__section
      .signin-main__section__top
        アカウントをお持ちでない方はこちら
      %ul.signin-main__conect__lists
        %li.signin-main__conect__lists__mail
          = link_to new_user_registration_path do
            .signin-main__conect__lists__mail__btn
              新規会員登録

    .signin-main__conect
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %ul.signin-main__conect__lists
          %li.signin-main__conect__lists__facebook
            = link_to user_facebook_omniauth_authorize_path, method: :post do
              .signin-main__conect__lists__facebook__btn
                %i.fab.fa-facebook-square
                Facebookでログイン
                
          %li.signin-main__conect__lists__google2
            = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
              .signin-main__conect__lists__google2__btn
                %i.fab.fa-google
                Googleでログイン

          %li.signin-main__conect__lists__input      
            = f.email_field :email, autocomplete: "email", class:'input_box1',placeholder:'メールアドレス'
          
          %li.signin-main__conect__lists__input 
            = f.password_field :password, autocomplete: "new-password", class:'input_box2',placeholder:'パスワード',id:'user_pass'

          .actions
            .actions__btn
              = f.submit "ログイン", class: "submit_btn"
            .actions__link
              .actions__btn
                = link_to "パスワードお忘れの方",'#',class:'next_link'
  .signup__footer
    .signup__footer__detail
      = link_to '#' do
        プライバシーポリシー
      = link_to '#' do
        メルカリ利用規約
      = link_to '#' do
        特定商取引に関する表記
    .signup__footer__logo
      = link_to root_path, class: 'signup-footer__logo' do
        = image_tag 'fmarket_logo_white.svg', alt: 'mercari', height: '65', width: '80'
      %p© 2019 Mercari                